
.hero-full-screen {
    height: 100vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: url("https://images.pexels.com/photos/378273/pexels-photo-378273.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb") center center no-repeat;
    background-size: cover;
  }
  
  .hero-full-screen .middle-content-section {
    text-align: center;
    color: #fefefe;
  }
  
  .hero-full-screen .top-content-section {
    width: 100%;
  }
  
  .hero-full-screen .bottom-content-section {
    padding: 1rem;
  }
  
  .hero-full-screen .bottom-content-section svg {
    height: 3.75rem;
    width: 3.75rem;
    fill: #fefefe;
  }
  
  .hero-full-screen .top-bar {
    background: transparent;
  }
  
  .hero-full-screen .top-bar .menu {
    background: transparent;
  }
  
  .hero-full-screen .top-bar .menu-text {
    color: #fefefe;
  }
  
  .hero-full-screen .top-bar .menu li {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .hero-full-screen .top-bar .menu a {
    color: #fefefe;
    font-weight: bold;
  }
  

  
  
.marketing-site-content-section {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  
  .marketing-site-content-section .button.round {
    border-radius: 5000px;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  
  .marketing-site-content-section .marketing-site-content-section-img {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
    -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
  
  .marketing-site-content-section .marketing-site-content-section-img img {
    width: 100%;
  }
  
  @media screen and (min-width: 40em) {
    .marketing-site-content-section .marketing-site-content-section-img {
      -webkit-flex: 1 0 50%;
          -ms-flex: 1 0 50%;
              flex: 1 0 50%;
    }
  }
  
  .marketing-site-content-section .marketing-site-content-section-block {
    padding: 1rem;
    -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch;
    background: #e6e6e6;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  
  @media screen and (min-width: 40em) {
    .marketing-site-content-section .marketing-site-content-section-block {
      -webkit-flex: 1 0 50%;
          -ms-flex: 1 0 50%;
              flex: 1 0 50%;
      padding: 2rem;
    }
  }
  
  .marketing-site-content-section-block-header {
    font-size: 24px;
  }
  
  .marketing-site-content-section-block-subheader {
    font-size: 13px;
  }
  
  

  
.clean-hero-slider .orbit-caption {
    width: auto;
    height: auto;
    background: #0a0a0a;
    position: absolute;
    text-align: center;
    right: 0;
    left: 0;
    padding: 0.2rem 2rem;
  }
  
  @media print, screen and (min-width: 40em) {
    .clean-hero-slider .orbit-caption {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.6);
      text-align: left;
      width: 70%;
      right: 0;
      padding: 1rem 2rem;
    }
  }
  
  @media screen and (min-width: 75em) {
    .clean-hero-slider .orbit-caption {
      padding-right: 10%;
    }
  }
  
  @media screen and (min-width: 90em) {
    .clean-hero-slider .orbit-caption {
      padding-right: 20%;
    }
  }
  
  .clean-hero-slider .orbit-caption p {
    font-size: 0.9rem;
    line-height: 1.25;
  }
  
  @media print, screen and (min-width: 40em) {
    .clean-hero-slider .orbit-caption p {
      font-size: 1.1rem;
    }
  }
  
  .clean-hero-slider .orbit-caption h3 {
    color: #ffae00;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0;
  }
  
  @media print, screen and (min-width: 40em) {
    .clean-hero-slider .orbit-caption h3 {
      font-size: 2.5rem;
      font-weight: normal;
    }
  }
  
  .clean-hero-slider .orbit-slide {
    padding-bottom: 40%;
    background: #0a0a0a;
  }
  
  @media print, screen and (min-width: 40em) {
    .clean-hero-slider .orbit-slide {
      padding-bottom: 0;
    }
  }
  
  .clean-hero-slider .orbit-controls button {
    background: #ffae00;
    padding: 1rem 0.5rem;
  }
  
  .clean-hero-slider .orbit-controls button:hover {
    background: #fefefe;
    color: #0a0a0a;
  }
  
  @media print, screen and (min-width: 40em) {
    .clean-hero-slider .orbit-controls .orbit-previous {
      left: auto;
      right: 2.4rem;
    }
  }
  
  @media print, screen and (min-width: 40em) {
    .clean-hero-slider .orbit-controls .orbit-next {
      right: 0.5rem;
    }
  }
  
  .clean-hero-slider .orbit-bullets {
    display: none;
  }
  
  @media print, screen and (min-width: 40em) {
    .clean-hero-slider .orbit-bullets {
      display: block;
      margin-bottom: 0;
      margin-top: -3rem;
      background: none;
    }
  }
  
  .clean-hero-slider .orbit-bullets button {
    width: 3rem;
    height: 0.4rem;
    border-radius: 0;
    background-color: #fefefe;
  }
  
  .clean-hero-slider .orbit-bullets button.is-active {
    background-color: #ffae00;
  }
  
  .clean-hero-slider ul.orbit-container {
    height: auto !important;
  }
  
  .clean-hero-slider li.orbit-slide {
    max-height: none !important;
  }
  
  
.news-card-tag {
    margin-bottom: 0.5rem;
  }
  
  .news-card-tag .label {
    border-radius: 0.125rem;
    background-color: #1779ba;
    color: #fefefe;
  }
  
  .news-card-tag .label a {
    background-color: inherit;
    color: inherit;
  }
  
  .news-card-tag .label:hover, .news-card-tag .label:focus {
    background-color: #14679e;
  }
  
  .news-card-tag .label:hover a, .news-card-tag .label:focus a {
    background-color: inherit;
    color: inherit;
  }
  
  .news-card {
    background-color: #fefefe;
    font-weight: 400;
    margin-bottom: 1.6rem;
    border-radius: 0.125rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  
  .news-card .card-section {
    background-color: inherit;
  }
  
  .news-card .card-section .news-card-date {
    font-size: 1em;
    color: #8a8a8a;
  }
  
  .news-card .card-section .news-card-article {
    background-color: inherit;
  }
  
  .news-card .card-section .news-card-article .news-card-title {
    line-height: 1.3;
    font-weight: bold;
  }
  
  .news-card .card-section .news-card-article .news-card-title a {
    text-decoration: none;
    color: #8a8a8a;
    transition: color 0.5s ease;
  }
  
  .news-card .card-section .news-card-article .news-card-title a:hover {
    color: #1779ba;
  }
  
  .news-card .card-section .news-card-article .news-card-description {
    color: #8a8a8a;
  }
  
  .news-card .card-section .news-card-author {
    overflow: hidden;
    padding-bottom: 1.6rem;
  }
  
  .news-card .card-section .news-card-author .news-card-author-image {
    display: inline-block;
    vertical-align: middle;
  }
  
  .news-card .card-section .news-card-author .news-card-author-image img {
    border-radius: 50%;
    margin-right: 0.6em;
  }
  
  .news-card .card-section .news-card-author .news-card-author-name {
    display: inline-block;
    vertical-align: middle;
  }
  

  .table-expand {
    margin-top: 5rem;
  }
  
  .table-expand td {
    color: #8a8a8a;
  }
  
  .table-expand tr {
    border: 1px solid #e6e6e6;
  }
  
  .table-expand .text-right {
    padding-right: 3rem;
  }
  
  .table-expand-row.is-active .expand-icon::after {
    content: '-';
  }
  
  .table-expand-row .expand-icon::after {
    content: '+';
    float: right;
  }
  
  .table-expand-row-content {
    display: none;
  }
  
  .table-expand-row-content.is-active {
    display: table-row;
    -webkit-animation: fadeIn ease-in 1;
            animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
  }
  
  .table-expand-row-nested {
    background-color: #e6e6e6;
  }
  
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
    